<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>Header</title>
<link rel="stylesheet" href="css/mainStyle.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<style type="text/css">
</style>
</head>
<body>
<nav class="navbar navbar-light" style="background-color: #f7da96;">
	<nav class="navbar navbar-expand-sm rounded border shadow-sm"
		style="background-color: #e3f2fd;" th:fragment="header(search)">
		<a class="navbar-brand" href="/"><img
			th:src="@{'/images/logo.png'}" width="50"> </a>

		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item"><a
				class="nav-link btn btn-outline-secondary mr-2" href="/">Главная</a></li>
			<li class="nav-item"><a
				class="nav-link btn btn-outline-secondary mr-2" href="/authors">Авторы</a></li>
			<li class="nav-item"><a
				class="nav-link btn btn-outline-secondary mr-2" href="/genres">Жанры</a></li>
			<!-- <li class="nav-item"><a
				class="nav-link btn btn-outline-secondary mr-2" href="/inDeveloping">Корзина</a></li> -->
			<li sec:authorize="hasRole('admin')" class="nav-item"><a
					class="btn btn-primary mr-2" href="/order">Список заказов</a></li>
			<li sec:authorize="hasRole('admin')" class="nav-item"><a
					class="btn btn-primary mr-2" href="/books/addBook">Добавить книгу</a></li>
			<li sec:authorize="hasRole('admin')" class="nav-item"><a
					class="btn btn-primary mr-2" href="/authors/add">Добавить автора</a></li>
			<li sec:authorize="hasRole('admin')" class="nav-item"><a
					class="btn btn-primary mr-2" href="/genres/add">Добавить жанр</a></li>
		</ul>

		<th:block sec:authorize="isAuthenticated()">
			<form th:action="@{/logout}" method="post">
				<input class="btn btn-outline-secondary my-2 mr-sm-2 m-0"
					type="submit" value="Выйти из акаута" />
			</form>
		</th:block>

		<th:block sec:authorize="isAnonymous()">
			<form th:action="@{/logout}" method="post">
				<input class="btn btn-outline-secondary my-2 mr-sm-2" 
				type="submit" value="Войти в личный кабинет" />
			</form>
		</th:block>
	</nav>
</body>
</html>